<?xml version="1.0"?>
<plist version="1.0">
	<dict>
		<key>CFBundleVersion</key>
		<string>12</string>
		<key>SKAdNetworkItems</key>
		<array>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>4PFYVQ9L8R</string>
			</dict>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>YCLNXRL5PM</string>
			</dict>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>cstr6suwn9</string>
			</dict>
		</array>
	</dict>
</plist>
